{% extends 'base.html' %}

{% block title %}
    Model Inference
{% endblock %}

{% block content %}
    <h1>Inference</h1>
    <section>
        <form method ="POST" action="/inference">
            <div>
                <label for="input"> 
                    ENTER DATE FROM 40000+
                </label>
               <P><input type= "text" name="date"></P> 
               <p><input type="submit" value="Predict & Submit to Database"></p>
            </div>
            <div>
                <label for="input">
                    THE STOCK PRICE WOULD BE:
                </label>
               <p>${{ price }}</p>
               <label for="input">
                    THE ACCURACY OF THE DATA IS:
                </label>
               <p>{{ accuracy }}</p>
                <p>{{ status }}</p>
            </div>
        </form>
    </section>
{% endblock %}
